/* Add application styles & imports to this file! */



#cabeceraTabla th{
  padding: 5px;;
  text-align: center;
  border: blueviolet 2px solid;
  margin: 20px;
}



#datosTabla td {
padding: 5px;
text-align: center;
border:cornflowerblue 2px solid;
margin: 0px;
}